<div class="p-4 m-auto md:max-w-screen-md">
	<h2 class="text-xl pb-2">About</h2>
	<p class="mt-5">This application was developped as a test exercise from GestForm.</p>
	<p class="mt-5">
		The point of the exercise was to develop an application that takes a random list of integer number from -1000 to 1000. <br>
		For each number of the list, the application will display a specific word, whether its divisible by 3, 5, both or neither. <br>
	</p>
	<ul class="list-disc list-inside">
		<li>
			If the number is divisible by 3 and 5 at the same time, the word displayed is "Gestform".
		</li>
		<li>
			If the number is only divisible by 5, the word displayed is "Forme".
		</li>
		<li>
			If the number is only divisible by 3, the word displayed is "Geste".
		</li>
		<li>
			Finally, if the number is not divisible by 3 nor 5, the number is displayed instead of a word.
		</li>
	</ul>
	<p class="mt-5">
		When you land on the functionality page, 10 numbers are directly generated, and handled by the function that display the right word according to the divisibility of each number. <br>
		Then, you have different choices :
	</p>
	<ul class="list-disc list-inside">
		<li>Generate 10 new random numbers</li>
		<li>Generate 20 new random numbers</li>
		<li>Generate 50 new random numbers</li>
		<li>Generate a custom amount of new random numbers</li>
	</ul>
	<p class="mt-5">The input field only accept numbers and, when filled, shows a button to add the chosen amount.</p>
</div>